* {
    font-family: 'Pattaya', sans-serif;
    color: white;
}

body {
    height: 98vh;
    background-color: black;
    background-image: url('../img/bcg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.logo {
    display: flex;
    justify-content: center;
    width: 98vw;
}

.logo-img {
    width: 14rem;
}

.login {
    display: flex;
    flex-direction: column;
    width: 30rem;
    background-color: #6D0000;
    height: 30rem;
    place-items: center;
    border-radius: 1.5625rem;
}

.input {
    width: 70%;
    height: 10%;
    margin-top: 1.25rem;
}

h2 {
    font-size: 2rem;
    font-weight: 100;
}

.redefinir {
    font-size: 1rem;
}

main {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 70%;
}

.txt-login {
    margin: 0;
    color: black;
    font-size: 1.25rem;
}

.btn-login {
    width: 6.25rem;
    height: 3.125rem;
    border-radius: 0.875rem;
    margin-top: 0.625rem;
    cursor: pointer;
}

.caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
}